body {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #333333;
}

/* ヘッダー */
.header-logo {
  width: 15rem;
}
.logo {
  padding-right: 3%;
  width: 70%;
}
.clinic {
  font-size: 124%;
  font-weight: bold;
  color: #96C519;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  position: fixed;
  z-index: 30;
  width: 100vw;

}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  
} 
.header-nav li {
  font-size: 82%;
  color: white;
  width: 6rem;
}
.header-nav li.nav-button {
  background-color: #0C4324;
  font-weight: bold;
  padding: 2% 3%;
  border-radius: 0.5rem;
  width: 11rem;
}

/* メインビジュアル */
#mainvisual {
  display: flex;
}
.mainvisual-div {
  position: relative;
  width: 80%;
  padding-bottom: 5%;
}
.mainvisual1 {
  position: absolute;
  right: 0;
  z-index: 20;
  width: 95%;
}

.mainvisual-back {
  position: absolute;
  bottom: 0%;
  top: 0%;
  width: 56%;
  z-index: 10;
}
.scroll { 
  position: absolute;
  z-index: 30;
  bottom: 4%;
  right: 3%;
}
/* タイトル */
.title-div {
  position: relative;
  padding-top: 10%;
  padding-bottom: 35%;
  width: 20%;

}
.title {
  position: absolute;
  left: 37%;
  top: 24%;
  writing-mode: tb;
  letter-spacing: 0.32em;
  font-size: 2.5vw;
  font-family: Shippori Mincho;
  color: #468459;
  line-height: 1.6;
  z-index: 50;
}
.title-line1 {
  position: absolute;
  width: 0.16vw;
  left: 75%;
  z-index: 20;
}
.title-line2 {
  position: absolute;
  width: 0.16vw;
  left: 55%;
  z-index: 20;
}
.mainvisual-shadow1 {
  position: absolute;
  z-index: 10;
  width: 14vw;
  top: 16%;
  left: 29%;

}
.mainvisual-shadow2 {
  position: absolute;
  width: 14vw;
  z-index: 10;
  top: 46%;
  left: 11%;
}
/* お知らせ */
#news {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;

}
.news-content {
  display: flex;
  align-items: center;
}
#news dl {
  display: flex;
  align-items: center;
}
#news-h2 {
  color: #468459;
  font-weight: bold;
  font-size: 140%;
  text-align: center;
}
#news-h2 span {
  font-weight: normal;
  font-size: 80%;
  margin-left: 0.5rem;
}
#news dt {
  font-weight: normal;
  margin-left: 0.5rem;
}
#news dl div {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.news-date {
  color: white;
  background-color: #468459;
  border-radius: 5%;
  font-size: 90%;
  padding: 1% 2%;
  margin-left: 2%;
}
#news dd {
  margin-left: 2rem;
}
#news p {
  font-size: 87%;
}
/* コンセプト */
#concept {
  margin-top: 10%;
}
.concept-cover {
position: relative;
}

.concept-backp {
  font-weight: bold;
  color: #e7edd4;
  opacity: 0.5;
  font-family: "Merriweather Sans";
  font-size: 12vw;
  position: absolute;
  left: 9%;
  top: 9%;
  z-index: 10;

}
.back-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.concept-detail {
  display: flex;
  position: relative;
  margin-top: 9%;
  z-index: 20;
  width: 75%;
  margin: 0 auto;
}

#concept-h2 {
  color: #468459;
  font-weight: bold;
  font-size: 1.4rem
}
#concept-h2::before {
  content: url(img/icon.png);
  padding-right: 0.3rem;
}
.concept-h2-jap {
  color: #468459;
  font-weight: normal;
  margin-top: 0.5rem;
  display: inline-block;
}
.concept-left  {
  width: 34%;
  margin: 0 auto;
}
.concept-left h3 {
  color: #468459;
  margin: 1.9rem 0;
  font-size: 2rem;
  line-height: 1.75;

}
.concept-left p {
  margin: 0.75rem 0;
  line-height: 1.4;
  margin-bottom: 1.5rem;

}
.concept-button {
  text-align: right;
}
.simple-button {
  border: 1px solid black;
  padding: 0.5rem 1.9rem;
  border-radius: 0.4rem;
  font-size: 0.8rem;
}
.concept-right {
  margin-top: 12%;
  width: 50%;
}
.concept-img {
  width: 100%;
}
 /* コース料金 */
#course{
  position: relative;
  padding-top: 6%;
}


.section-title::before {
  content: url(img/sectiontitle2.png);
  margin-right: 1rem;
}
.section-title::after {
  content: url(img/sectiontitle1.png);
  margin-left: 1rem;
}

.course-back1 { 
  position: absolute; 
  z-index: -2;
  width: 100%;
  height: 100%;
} 
.course-back2{
  position: absolute;
  right: 0;
  top: 5%;
  z-index: -3;
  width: 100%;
}

.course-back p {
  position: absolute;
  z-index: -1;
  left: 9%;
  top: 33%;
  width: 100%;
  font-weight: bold;
  color: #e7edd4;
  opacity: 0.5;
  font-family: "Merriweather Sans";
  font-size: 12vw;
}
.course-back-icon {
  position: absolute;
  z-index: -1;
  bottom: 0%;
  right: 0%;
}
.course-cover {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
.section-title {
  color: #468459;
  font-weight: bold;
  font-size: 140%;
}

.section-div  {
  font-size: 150%;
  margin-top: 1%;
  margin-bottom: 5%;
  color: #468459;
}
/* 高さの基準になる */
.course-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  gap: 6%;
}

.course-img {
  border-radius: 8%;
  width: 100%;
}
.course-detail {
  text-align: left;
}
.section-h3 {
  color: #468459;
  font-weight: bold;
  font-size: 139%;
  padding-top: 9%;
  padding-bottom: 6%;
}
.course-detail li {
  list-style: disc;
  margin-bottom: 7%;
  font-size: 104%;
  list-style-position: inside;
  margin-bottom: 1.5rem;
}
.course1 {
  max-width: 30rem;
  margin: auto;
  padding-inline: 1rem;
}
.course2 {
  max-width: 30rem;
  margin: auto;
  padding-inline: 1rem;
}
/* お客様の声 */
#customer {
  text-align: center;
  width: 100%;
}
.customer-img-div {
  position: relative;
  margin: 0 auto;

}
.customer-top-img {
  width: 100%;
}
.customer-top-white {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.customer-title {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translateX(-50%);
}

.customer-content {
  gap: 3rem;
  max-width: 57rem;
  padding-inline: 2rem;
  margin: 0 auto;
  margin-top: 7.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.customer-content div {
  width: 100%;
}

.customer-img {
  border-radius: 50%;
  width: 100%;
}
.customer-h3 {
  color: #468459;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.1rem;
}

.customer-p {
  text-align: left;
  font-size: 1rem;
  display: inline-block;
  line-height: 1.5;
}
/* アクセス */
#access {

  width: 100%;
  background-color: #F0F5E1;
  text-align: center;
}
.access-back {
  width: 100%;
}
#access h2 {
  margin-top: 2rem;
}
.access-content {
  display: flex;
  gap: 5%;
  margin: 0 auto;
  margin-top: 2rem;
  width: 95%;
}
.access-info {
  text-align: left;
  width: 50%;
  
}
#station {
  color: #468459;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
#address {
  line-height: 1.4;
}
#tel {
  color: #468459;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
#tel-number {
  color: #468459;
  font-size: 1.5rem;
  font-weight: bold;

}
.access-map {
  width: 50%;
  
}
.access-iframe {
  width: 100%;
  height: 90%;
}
.access-table {
  width: 100%;
}
.reservation-button {
  margin-top: 2rem;
  padding: 1rem 1.4rem;
  color: white;
  border-radius: 0.3rem;
  background-color: #1B9240;
}
.scroll-button {
  z-index: 30;
}
/* フッター */
footer {
  
}
.footer-nav-back {
  background-color: #F0F5E1;
  width: 100%;
}
.footer-nav-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.footer-img {
  padding-right:0.5rem;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
} 
.footer-nav li {
  padding-right: 2rem;
}
.scroll-button-div {
  padding-bottom: 5%;
}
.scroll-button {
  width: 100%;
}
.footer-copyright {
  background-color: #468459;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  padding: 1% 0;
}
@media screen and (max-width: 757px) {
  /* ここに通常のCSSを書きます。以下は一例です */
  header {
    justify-content: normal;
    padding-left: 5%;
    position: absolute;
    z-index: 40;
  }
  .header-nav {
    display: none;
  }
/* 　お知らせ */
  #news  {
    display: block;
    
  }
  #news-h2 {
    margin-bottom: 2%;
    white-space: nowrap;

  }
  #news dl div {
    display: block;
    text-align: center;
    
  }
  .news-date {
  margin-top: 2%;
  }
  .news-content {
    display: block;
    
  }
  #news dt {
    display: block;
    margin-bottom: 9%;
    margin-left: 0;
  }
  #news dd {
    padding-left: 2%;
  }

  #news p {
  text-align: right; 
  color: #0C4324;
  }
  /* コンセプト */
  .concept-detail {
    flex-direction: column-reverse;

  }
  .concept-back {
    width: 100%;
  }
  .concept-left {
    width: 100%;
    margin: 0 auto;
  }
  .concept-right {
    width: 100%;
  }

/* コース */
  .course-content {
    display: block;

  }
  /* お客様の声 */
  .customer-title {
    width: 100%;
  }
  .section-p {
    margin-top: 2%;
  }
  .customer-content {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 18%;
  }
  .customer-content div {
    margin-bottom: 10%;
  }
  .customer-img {
    width: 40%;
  }
  /* アクセス */
  .access-content {
    display: block;
    padding-top: 10%;
  }
  .access-info {
    width: 100%;
    padding-bottom: 10%;
  }
  .access-map {
    width: 100%;
    height: 50vh;
    padding-bottom: 10%;
  }
  .reservation-button {
    width:  100%;
    text-align: center;
  }
  /* フッター */
  .footer-nav-cover {
    position: relative;
    z-index: 10;
    display: block;
    text-align: center;
  }
  .footer-logo {
    margin-bottom: 5%;
  }
  .footer-nav {
    display: block;
  } 
  .footer-nav li {
    margin-bottom: 5%;
    color: #0C4324;
  }
  .scroll-button-div {
  }
  .scroll-button {
    width: 10%;
    position: absolute;
    bottom: 10%;
    right: 10%;
  }
  
}


